[submodule "model_zoo"]
	path = model_zoo
	branch=master
	url = https://github.com/yjxiong/tensorflow-model-zoo.torch
[submodule "anet_toolkit"]
	path = anet_toolkit
	url = https://github.com/yjxiong/ActivityNet-Toolkit
        branch=master
